
.fechas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    .insta{
        padding: 10px 10px ;
        grid-column: 1/2;
        height: 250px;
    }
    .mapa{
        padding: 10px 10px;
        grid-column: 2/4;
    
    }
}
