
.fecha{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "insta mapa"
    "insta info";
    @media(max-width:576px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }


    .insta {
        grid-area: insta;
        padding-left: 50px;
        
        @media(max-width:768px){
            padding-left: 25px;
        }
        @media(max-width:576px){
            padding: 0px;
            display: inline-block; 
            align-items: center;  
            width: 350px;
        }
          
    }
    .mapa {
        height: 350px;
        grid-area: mapa;
        @media(max-width:768px){
            height: 200px;
        }

        @media(max-width:576px){
            display: inline-block;   
        }
        
        iframe{
        
            height: 350px;
            width: 600px;
        
        @media(max-width:768px){
            height: 200px;
            width: 350px;
        }
    }
    }
    .info{
        width: 600px;
        grid-area: info;
        @media(max-width:768px){
            width: 350px;
        }
        p{
            @include resalta-texto($color-secundario,0px 3px 15px #000000);
            font-size: 22px;
            @media(max-width:768px){
                font-size: 17px;
            }
        }
    }


}