
.fecha{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    .insta iframe{
        padding: 10px;
        height: 700px;
        grid-column: 1/2;
    }
    .mapa iframe{
        height: 700px;
        width: 600px;
        grid-column: 2/2;
    
    }
   
}
