footer{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .redes a i {
        display: inline-block;
        font-size: 40px;
        @include resalta-texto($color-secundario,0px 3px 15px #000000);
        margin: 10px;
        padding: 10px;
        @media(max-width:768px){
            font-size: 35px;
        }
    }
}

