*{
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

.cuerpo{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(47,46,46,1) 26%, rgba(94,91,91,1) 32%, rgba(91,87,87,1) 40%, rgba(162,162,162,1) 50%, rgba(91,87,87,1) 60%, rgba(94,91,91,1) 68%, rgba(47,46,46,1) 74%, rgba(0,0,0,1) 80%);
}