.navegador ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navegador li{
    display: block;
    padding: 30px;
    margin: 30px;
    font-size: 30px;
}
.navegador ul li a{
    color: white;
}
.navegador .menu{
    display: none;
}