.tpindex {
    color: $color-secundario;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 60px;
}

.st{
    color: $color-secundario;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
